.button {
    cursor: pointer;
    background-color: #514A7E;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px gray;
}

.button:hover {
    background-color: #FFFDF5;
    border: 0.5px solid #514A7E;
    .cross {
        stroke: #514A7E;
    }
}