@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Roboto:ital,wght@0,300;1,900&display=swap');

.modal_login {
    position: absolute;
    right: 7%;
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
}

.header_modal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user_icon {
    margin-top: 30px;
    margin-bottom: 20px;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background-color: #C4C4C4;
}

.login_button {
    width: 120px;
    height: 35px;
    margin-bottom: 30px;
    background-color: #FFFDF5;
    border: 0.5px solid #514A7E;
    color: #514A7E;
}

.login_button:hover {
    color: #FFFDF5;
    background-color: #514A7E;
    border: 0.5px solid #FFFDF5;
    box-shadow: 0px 0px 30px rgb(197, 197, 197);
    cursor: pointer;
}

.icon_holder {
    display: flex;
    padding-left: 30px;
}

.icon {
    margin-right: 30px;
    margin-bottom: 15px;
}

.icon_text {
    color: #121212;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 118%; /* 14.16px */
}

.hr {
    margin-bottom: 10px;
}

.cart, .viewed, .favorite {
    margin-bottom: 10px;
    margin-right: 20px;
}