.button {
    background-color: #514A7E;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 5px gray;
}

.arrow {
    width: 30px;
    height: 30px;
}


.button:hover {
    background-color: #FFFDF5;
    border: 1px solid #514A7E;
    .arrow {
        stroke: #514A7E;
    }
}