@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

.title_handler {
    margin: 3% 0% 0% 6%;
}

.title_link {
    color: #7D7D7D;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.type {
    color: #514A7E;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.title {
    margin-top: 3%;
    color: #121212;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
    line-height: 87.305%;
}