@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


.root {
    margin-top: 10%;
    padding-left: 8%;
} 

.title {
    color: #121212;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
    line-height: 87.305%;
}

